* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

section.test_title {
    text-align: center;
    grid-area: test_title;
    position: relative;
    line-height: 7vh;

    h1 {
        margin-top: 50px;
        font-size: 30px;

        #hSpan {
            font-weight: 180;
        }
    }

    hr {
        width: 60px;
        margin: 0 auto;
    }
}