@mixin imgCut {
    width: 88px;
    height: 88px;
    // border-radius: 50%;
    // border: 1px solid #0f6bb0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

section.test_title {
    text-align: center;
    position: relative;
    line-height: 7vh;

    h1 {
        margin-top: 50px;
        font-size: 30px;

        #hSpan {
            font-weight: 180;
        }
    }

    hr {
        width: 60px;
        margin: 0 auto;
    }
}

ul {
    display: flex;

    li {
        margin-left: 120px;

        div:hover {
            transform: rotateY(180deg);
        }
    }
}

.image1 {
    @include imgCut();
    background: url(../img/img-预约检测/icon.png) 0px 0px no-repeat;
}

.image2 {
    @include imgCut();
    background: url(../img/img-预约检测/icon.png) -88px 0px no-repeat;
}

.image3 {
    @include imgCut();
    background: url(../img/img-预约检测/icon.png) -176px 0px no-repeat;
}

.pic {
    position: absolute;
    left: 250px;
    margin-top: 100px;


    img {
        width: 50%;
        height: 50%;
    }
}