
#index_title{
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #DFDFDF;
}

#title_logo{
	position:absolute;
	width: 150px;
	height: 50px;
	left: 2%;
	top:15px;
}

#title_logo img{
	width: 100%;
	height: 100%;
}

#top-nav{
	position:absolute;
	left: 15%;
	/* border: 1px solid blue; */
	
}
#top-nav ul li{
	display:inline-block;
	float:left;
}
#top-nav ul li a{
	font-family: 'Roboto', sans-serif;
	color: #000000;
	padding: 27px 25px;
	display: block;
	position: relative;
	text-decoration:none;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size: 1.2em;
	position:relative;
}

#wechat_logo{
	position:absolute;
	width: 25px;
	height: 20px;
	right: 420px;
	top:30px;
}

#wechat_logo img{
	width: 100%;
	height: 100%;
}

#title_phonenumber{
	position:absolute;
	width: 250px;
	height: 80px;
	right: 120px;
	top:0px;
	border-left: 1px solid #DFDFDF;
	text-align: center;
}

#title_phonenumber img{
	width: 80%;
	height: 100%;
}

#title_login{
	position:absolute;
	width: 80px;
	height: 80px;
	right: 0;
	/* border: 1px solid blue; */
	background-color: #0F6BB0;
	text-align: center;
}

#title_login img{
	position: relative;
	top:25%;
	width: 40%;
	height: 40%;
}