* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 等线;
}

#footer {
	position: absolute;
	width: 100%;
	background-color: black;
	bottom: 0;
	font-size: 15px;
	font-weight: 300;
}

#footer a {
	text-decoration: none;
	color: white;
}

#footer hr {
	clear: both;
	margin-left: 40px;
	margin-right: 40px;
	background-color: gray;
	height: 1px;
	border: none;
}

.info {
	color: white;
	margin-top: 60px;
	margin-bottom: 45px;
	line-height: 30px;
}

.foot-title {
	font-family: simsun;
	font-size: 18px;
}

.left {
	float: left;
	margin-left: 40px;
}

.guard {
	float: left;
	margin-right: 50px;
}

.check {
	float: left;
	margin-right: 50px;
}

.about {
	float: left;
}

.mid {
	float: left;
	margin-left: 220px;
}

.contact {
	float: left;
	width: 300px;
}

.foot-icon {
	color: #337ab6;
	float: left;
	margin-bottom: 20px;
	font-size: 17px;
}

.mail {
	clear: left;
}

#icon_contact {
	margin-top: 5px;
	margin-right: 15px;
}

#icon_mail {
	margin-top: 5px;
	margin-right: 15px;
}

.foot-iconinfo {
	float: left;
	margin-left: 17px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
}

#num {
	line-height: 25px;
}

#time {
	color: gray;
	font-size: 13px;
	font-weight: 100;
}

#addr {
	margin-top: 3px;
}

.right {
	float: left;
	margin-left: 100px;
}

.follow {
	float: left;
}

.code {
	width: 90px;
}

.bottom {
	float: left;
	clear: both;
	margin-left: 40px;
	margin-bottom: 30px;
	color: gray;
}

/* Unfold */
.hvr-unfold {
	transition: all 300ms linear 0s;
}

.hvr-unfold:hover {
	transform: scaleX(0);
}

/* Color */
.hvr-color:hover {
	color: #2098D1;
}

/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}